




<div class="row">
  <div class="col-xs-12">
    <div class="login">
      <%= form_tag login_path do %>
        <div class="login-screen">
          <div class="login-icon">
            <img src="/assets/login/icon.png" alt= "welcome to SNU MEDIA CONTROL WEB" />
            <h4><small>COE Broadcasting Control Center</small></h4>
          </div>

          <div class="login-form">
            <div class="form-group">
              <p>
              <%= text_field_tag :email, params[:email], :class => "form-control login-field", :placeholder => "Enter your username" %>
              </p>
              <label class="login-field-icon fui-user" for="login-name"></label>
            </div>

            <div class="form-group">
              <p>
              <%= password_field_tag :password, "", :class => "form-control login-field", :placeholder => "Password" %>
              </p>
              <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>

            <%= submit_tag "Log in", :class => "btn btn-primary btn-lg btn-block" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>


</div>



