
<div class="row">
  <%= simple_form_for(@marquee) do |f| %>
    <%= f.error_notification %>
    <% if @marquee.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @marquee.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-inputs">
      <div class="col-md-12">
        <div class="col-md-10">
          <label for="marquee_priority" class="col-md-2 control-label">Priority</label>
          <%= f.input :priority, :as => :select, :collection => Marquee.priorities.keys.to_a, :label => false %>
          <div class="row">
            <div class="form-group">
              <div class="col-md-12">
                  <div class="form-group row">
                    <label for="inputKey" class="col-md-2 control-label">Start Time</label>
                    <div class="col-md-4">
                        <%= f.date_select :start_date, :start_year => 2015, prompt: true, label: false, wrapper: false %>
                    </div>
                    <label for="inputValue" class="col-md-2 control-label">End Time</label>
                    <div class="col-md-4">
                        <%= f.date_select :end_date, :start_year => 2015, prompt: true, label: false, wrapper: false %>
                    </div>
                  </div>

                <div class="form-group row">
                  <label for="inputKey" class="col-md-2 control-label">Start Time (day)</label>
                  <div class="col-md-4">
                    <%= f.collection_select :start_hour, Marquee::HOURS, :to_s, :humanize %> : 
                    <%= f.collection_select :start_minute, Marquee::MINUTES, :to_s, :humanize %>
                  </div>
                  <label for="inputValue" class="col-md-2 control-label">End Time (day)</label>
                  <div class="col-md-4">
                    <%= f.collection_select :end_hour, Marquee::HOURS, :to_s, :humanize %> : 
                    <%= f.collection_select :end_minute, Marquee::MINUTES, :to_s, :humanize %>
                  </div>
                </div>


              </div>
            </div>
          </div>
          <%= f.input :content, :wrapper => :horizontal_input, :input_html => { :rows => "9" } %>
        </div>
      </div>


      <div class="row">
        <br />
        <br />
        <h6>Push to</h6>
        <div id="clients_table">

          <div class="field">
            <p><strong>Clients</strong></p>
            <%= hidden_field_tag("marquee[client_ids][]", nil) %>
            <table class="table table-condensed">
              <tr>
                <th></th>
                <th>IP Address </th>
                <th>Name </th>
                <th>Department </th>
                <th>Building </th>
                <th>Floor </th>
              </tr>
              <% Client.all.each do |client| %>
              <% id = client.id %>
              <tr>
                <td><%= check_box_tag("marquee[client_ids][]", id, id.in?(@clients.collect(&:id))) %></td> 
                <td><%= client[:ip_address] %></td>
                <td><%= client[:name] %></td>
                <td><%= client[:department] %></td>
                <td><%= client[:building] %></td>
                <td><%= client[:floor] %></td>

              </tr>
              <% end %>
            </table>
          </div>

        </div>
      </div>



    </div>
    <br />
    <div class="form-actions">
      <%= f.button :submit, :class => "btn btn-large btn-primary" %>
    </div>
  <% end %>
</div>
