<p id="notice"><%= notice %></p>

<h1>Listing Marquees</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Content</th>
      <th># of Clients</th>
      <th>Synced with clients? </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marquees.each do |marquee| %>
      <tr>
        <td><%= marquee.content %></td>
        <td><%= marquee.pushes.count %></td>
        <td><%= marquee.is_synced %>
        <td><%= link_to 'Show', marquee, class: "btn btn-mini btn-primary" %></td>
        <td><%= link_to 'Edit', edit_marquee_path(marquee), class: "btn btn-mini btn-primary" %></td>
        <% if marquee.is_synced? %>
          <td><%= link_to 'Stop', marquee, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marquee', new_marquee_path, :class => "btn btn-primary" %>
