<p id="notice"><%= notice %></p>

<div class="row">

  <div class="col-md-9">
    <% if @marquee.is_synced? %>
      <strong>The marquee is not synced with the clients. To sync, click push</strong>
      <br />
      <br />
    <% end %>

    <ul>
      <li>
        <strong>Start Date : </strong><%= @marquee.start_date %>
      </li>
      <li>
        <strong>End Date : </strong><%= @marquee.end_date %>
      </li>
      <li>
        <strong> Daily start time : </strong><%= @marquee.get_start_time %>
      </li>
      <li>
        <strong> Daily end time : </strong><%= @marquee.get_end_time %>
      </li>
      <li><strong>Content : </strong><%= @marquee.content %></li>
      <li><strong>Priority : </strong><%= @marquee.priority %></li>
    </ul>

  </div>
  <div class="col-md-3">
    <%= link_to "Edit Notice", edit_marquee_path(@marquee), class: "btn btn-primary btn-block" %>
    <br />
    <%= button_to "Push Notice", push_marquee_path(@marquee), class: "btn btn-primary btn-block" %>
  </div>

</div>

<br />
<h6>Pushes </h6>
<%= render 'pushes/list' %>

