// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div#dashboard_wrapper {
  width:960px;
  margin:0 auto;
}

div#dashboard_main {
  float:right;
  width:760px;
}

div#dashboard_sidebar {
  float:left;
  width:200px;
}

.thumb {
  float:left;
  padding: 5px;
  margin: 10px 10px;
  border-style: solid;
  border-width: 1px;
  width: 200px
}

.thumb img {
    width: 180px;
    height: 180px;
}



