
.padding15 {
	padding: 15px;
}

body {
	margin-top: 20px;
	margin-bottom: 40px;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.content-form {
    background-color: #f8f8f8;
    padding: 10px;
    margin: 20px 0px;
}

/* clearfixing the fieldsets */
/*
form.formtastic fieldset { display: inline-block; }
form.formtastic fieldset:after { content: "."; display: block; height: 0;
clear: both; visibility: hidden; }
html[xmlns] form.formtastic fieldset { display: block; }
* html form.formtastic fieldset { height: 1%; }
*/

/* clearfixing the li's */
/*

form.formtastic fieldset > ol > li { display: inline-block; }
form.formtastic fieldset > ol > li:after { content: "."; display: block; height: 0;
clear: both; visibility: hidden; }
html[xmlns] form.formtastic fieldset > ol > li { display: block; } 
* html form.formtastic fieldset > ol > li { height: 1%; }

*/