
<table class="table table-stripped">
  <thead>
    <tr>
      <th>#</th>
      <th>Priority</th>
      <th>Slide Interval</th>
      <th>File name</th>
      <th colspan="4">Description</th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each_with_index do |document, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= link_to document.filename, document_path(document) %></td>
        <td><%= document.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
