
<p>A PDF is a series of images </p>
<p>The files should be alphabetically named</p>
<p>The play order will be based on the filename order</p>


<div class="row">
  <div class="col-sm-6">
    <%= simple_form_for @document, :html => {:multipart => true} do |f| %>
      <%= f.input :description, label: "PDF File Description"  %>
      <%= f.input :filename %>
      <p><strong>NOTE: </strong>Please select all the images (multiple-select)</p>
      <%= file_field_tag "images[]", type: :file, multiple: true %> 
      <%= f.submit "submit", :class => "btn btn-default" %>
  <% end %>
  </div>
</div>


