
<p>
  <strong>Filename : </strong>
  <%= @document.filename %>
</p>

<p>
  <strong>Description : </strong>
  <%= @document.description %>
</p>

<p><strong>Slides</strong></p>
<% @document.images.each do |image| %>
  <%= image_tag image.file_url(:thumb).to_s %>
<% end %>



