<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Client IP</th>
      <th>Name</th>
      <th>Status</th>
      <th>Retries</th>
    </tr>
  </thead>

  <tbody>
    <% @pushes.each do |push| %>
    <tr>
      <td><%= push[:id] %></td>
      <td><%= link_to push.client[:ip_address], client_path(push.client) %></td>
      <td><%= link_to push.client[:name], client_path(push.client) %></td>
      <td><%= push.status %></td>
      <td><%= push[:retries_count] %></td>
    </tr>
    <% end %>
  </tbody>
</table>