

<!-- Clients form -->

<%= simple_form_for @client, :html => {:class => "form-horizontal col-md-8"} do |f| %>


  <%= f.error_notification %>
  <% if @client.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @client.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>


	<%= f.input :ip_address, :wrapper => :horizontal_input %>
	<%= f.input :name, :wrapper => :horizontal_input %>
	<%= f.input :college, :wrapper => :horizontal_input %>
	<%= f.input :department, :wrapper => :horizontal_input %>
	<%= f.input :building, :wrapper => :horizontal_input %>
	<%= f.input :floor, :wrapper => :horizontal_input %>
	<%= f.input :display_mode, :wrapper => :horizontal_input %>
	<%= f.input :display_resolution, :wrapper => :horizontal_input %>
	<%= f.input :display_model, :wrapper => :horizontal_input %>

	<div class="field">
		<p><strong>Group Associations</strong></p>
		<%= hidden_field_tag("client[group_ids][]", nil) %>
		<table class="table table-condensed">
			<tr>
				<th></th>
				<th>Name </th>
				<th>Department </th>
				<th>Building </th>
			</tr>
			<% Group.all.each do |group| %>
			<% id = group.id %>
			<tr>
				<td><%= check_box_tag("client[group_ids][]", id, id.in?(@client.groups.collect(&:id))) %></td>
				<td><%= group[:name] %></td>
				<td><%= group[:department] %></td>
				<td><%= group[:building] %></td>
			</tr>
			<% end %>
		</table>
	</div>

	<%= f.button :submit %>
<% end %>




