

<div class="row">
  <div class="col-xs-12">
    <h6>Listing Clients</h6>
    <br/>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Ip address</th>
          <th>Name</th>
          <th>College</th>
          <th>Department</th>
          <th>Building</th>
          <th>Floor</th>
          <th>Display mode</th>
          <th>Display resolution</th>
          <th>Display model</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @clients.each do |client| %>
        <tr>
          <td><%= link_to client.ip_address, client_path(client) %></td>
          <td><%= link_to client.name, client_path(client) %>
          <td><%= client.college %></td>
          <td><%= client.department %></td>
          <td><%= client.building %></td>
          <td><%= client.floor %></td>
          <td><%= client.display_mode %></td>
          <td><%= client.display_resolution %></td>
          <td><%= client.display_model %></td>
          <td><%= link_to 'Edit', edit_client_path(client), :class => "btn btn-mini btn-primary" %></td>
          <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-block btn-danger" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>


  </div>
</div>
