<p id="notice"><%= notice %></p>

<% str = $redis.get($REDIS_CLIENT_PREFIX + "#{@client[:ip_address]}") %>
<% str = str.nil? ? """{}""" : str %>
<% res = JSON.parse str %>


<div class="row">
  <div class="col-sm-6">
    <p>
      <strong>Last updated at: <%= res['timestamp'] if res['timestamp'] %> </strong>
    </p>

    <p>
      <strong><%= res['downloading'] ? res['downloading'].count : 0 %> pending downloads </strong>
    </p>
    <p>
      <strong>Currently Playing: <%= res['playing'] if res['playing'] %></strong>
    </p>

    <p>
      <%= link_to 'Edit', edit_client_path(@client), :class => "btn btn-mini btn-primary" %> |
      <%= link_to 'All Clients', clients_path, :class => "btn btn-mini btn-primary" %>
    </p>


  </div>
  <div class="col-sm-6">
    <ul>
      <li>
        <strong>Ip address:</strong>
        <%= @client.ip_address %>
      </li>
      <li>
        <strong>Name:</strong>
        <%= @client.name %>
      </li>

      <li>
        <strong>College:</strong>
        <%= @client.college %>
      </li>

      <li>
        <strong>Department:</strong>
        <%= @client.department %>
      </li>

      <li>
        <strong>Building:</strong>
        <%= @client.building %>
      </li>

      <li>
        <strong>Floor:</strong>
        <%= @client.floor %>
      </li>

      <li>
        <strong>Display mode:</strong>
        <%= @client.display_mode %>
      </li>

      <li>
        <strong>Display resolution:</strong>
        <%= @client.display_resolution %>
      </li>

      <li>
        <strong>Display model:</strong>
        <%= @client.display_model %>
      </li>
    </ul>

  </div>
</div>

<div class="row">
  <h6>Logs</h6>
</div>

<div class="row">
  <strong>OMXD</strong>
  <table class="table table-condensed">
    <tbody>
      <% if res['logs'] and res['logs']['omxd'] %>
        <% res['logs']['omxd'].each do |line| %>
          <tr><td><%= line %></td></tr>
        <% end %>
      <% end %>
    </tbody>

  </table>
</div>

<div class="row">
  <strong>Player</strong>
  <table class="table table-condensed">
    <tbody>
      <% if res['logs'] and res['logs']['player'] %>
        <% res['logs']['player'].each do |line| %>
          <tr><td><%= line %></td></tr>
        <% end %>
      <% end %>
    </tbody>

  </table>
</div>

<div class="row">
  <strong>Webapp</strong>
  <table class="table table-condensed">
    <tbody>
      <% if res['logs'] and res['logs']['webapp'] %>
        <% res['logs']['webapp'].each do |line| %>
          <tr><td><%= line %></td></tr>
        <% end %>
      <% end %>
    </tbody>

  </table>
</div>

<div class="row">
  <strong>Downloader</strong>
  <table class="table table-condensed">
    <tbody>
      <% if res['logs'] and res['logs']['downloader'] %>
        <% res['logs']['downloader'].each do |line| %>
          <tr><td><%= line %></td></tr>
        <% end %>
      <% end %>
    </tbody>

  </table>
</div>



<br/>
<p><strong>Associated Groups</strong></p>

<table class="table table-condensed">
  <tr>
    <th>#</th>
    <th>Name </th>
    <th>Department </th>
    <th>Building </th>
  </tr>
  <% id = 0 %>
  <% @client.groups.each do |group| %>
  <% id = 1+id %>
  <tr>
    <td><%= id %></td>
    <td><%= group[:name] %></td>
    <td><%= group[:department] %></td>
    <td><%= group[:building] %></td>
  </tr>
  <% end %>
</table>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
