


<div class="row">
  <%= simple_form_for [@schedule, @content_schedule] do |f| %>

    <%= f.error_notification %>
    <% if @content_schedule.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @content_schedule.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-sm-9">
        <%= f.input :slide_interval_time, wrapper: :horizontal_input, :input_html => {:min => '4', :value => '4'} %>
        <% if @content_schedule.new_record? %>
          <%= f.hidden_field :play_order, value: "0" %>
        <% else %>
          <%= f.hidden_field :play_order %>
        <% end %>
      </div>
      <div class="col-sm-3">
        <%= f.submit "Add to schedule" %>
      </div>
    </div>

    <div class="row">
    <h5>Select Content File </h5>
      <table class="table table-stripped">
        <thead>
          <tr>
            <th>Select</th>
            <th>Content Type </th>
            <th>Description </th>
            <th>Thumbnail</th>
          </tr>
        </thead>
        <tbody>
          <% Content.all.each_with_index do |con, index| %>
            <tr>
              <td><%= f.radio_button :content_id, con.id %></td>
              <td><%= con.description %></td>
              <td><%= con.content_type %></td>
              <td><%= image_tag con.file_url(:thumb).to_s %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>





  <% end %>
</div>

