<div class="row">
  <div class="col-md-12">

    <%= builder.fields_for :content_schedules do |csbuilder| %>
      <div class="content-form">
        <% if csbuilder.object.new_record? %>
          <h6>New Content</h6>
        <% end %>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-3">
              <%= csbuilder.input :priority, label: false, placeholder: "Priority", wrapper: false %>
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-4">
                  <%= csbuilder.label :slide_interval_time %>
                </div>
                <div class="col-md-8">
                    <%= csbuilder.input :slide_interval_time, label: false, placeholder: "Slide Interval Time", wrapper: false, input_html: {:min => '4', :value => '4' } %>
                </div>
              </div>
              <div class="row">
                <%= csbuilder.fields_for :content do |cbuilder| %>
                  <%= render 'contents/form_fields', :f => cbuilder %> <!-- todo: for now just content.new -->
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <!-- these two divs are required for content form -->
    <div id="upload-progress">
    </div>
    <div id="uploaded-contents">
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>
