
<%= simple_form_for @schedule, :validate => true, :class => "form-horizontal", :html => { :multipart => true } do |builder| %>

	<div class="row">
    <%= builder.error_notification %>
    <% if @schedule.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @schedule.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


		<div class="col-md-12">
			<div class="col-md-10">
        <%= builder.input :name, :wrapper => :horizontal_input %>

        <label for="schedule_priority" class="col-md-2 control-label">Priority</label>
        <%= builder.input :priority, :as => :select, :collection => Schedule.priorities.keys.to_a, label: false %>
        <div class="row">
          <div class="form-group">
            <div class="col-md-12">
              <div class="form-group row">
                <label for="inputKey" class="col-md-2 control-label">Start Date</label>
                <div class="col-md-4">
                    <%= builder.date_select :start_date, :start_year => 2015, prompt: true, label: false, wrapper: false %>
                </div>
                <label for="inputValue" class="col-md-2 control-label">End Date</label>
                <div class="col-md-4">
                    <%= builder.date_select :end_date, :start_year => 2015, prompt: true, label: false, wrapper: false %>
                </div>
              </div>

              <div class="form-group row">
                <label for="inputKey" class="col-md-2 control-label">Start Time (day)</label>
                <div class="col-md-4">
                    <%= builder.collection_select :start_hour, Schedule::HOURS, :to_s, :humanize %> : 
                    <%= builder.collection_select :start_minute, Schedule::MINUTES, :to_s, :humanize %>
                </div>
                <label for="inputValue" class="col-md-2 control-label">End Time (day)</label>
                <div class="col-md-4">
                    <%= builder.collection_select :end_hour, Schedule::HOURS, :to_s, :humanize %> : 
                    <%= builder.collection_select :end_minute, Schedule::MINUTES, :to_s, :humanize %>
                </div>
              </div>


            </div>
          </div>
        </div>

        <div class="row">
          <label class="text required col-sm-2 control-label"><abbr title="required">*</abbr> Days of Week</label>
          <div class="col-sm-10">
            <span>
              <% checked = @schedule.is_played_on_monday ? 'checked="checked"' : "" %>
              <input value="0" type="hidden" name="schedule[is_played_on_monday]">
              <label class="boolean optional" for="schedule_is_played_on_monday">
                <input class="boolean optional" type="checkbox" value="1" name="schedule[is_played_on_monday]" 
                <%= checked %> id="schedule_is_played_on_monday">
                Monday
              </label>
            </span>
            <span>
              <% checked = @schedule.is_played_on_tuesday ? 'checked="checked"' : "" %>
              <input value="0" type="hidden" name="schedule[is_played_on_tuesday]">
              <label class="boolean optional" for="schedule_is_played_on_tuesday">
                <input class="boolean optional" type="checkbox" value="1" name="schedule[is_played_on_tuesday]" 
                <%= checked %> id="schedule_is_played_on_tuesday">
                Tuesday
              </label>
            </span>
            <span>
              <% checked = @schedule.is_played_on_wednesday ? 'checked="checked"' : "" %>
              <input value="0" type="hidden" name="schedule[is_played_on_wednesday]">
              <label class="boolean optional" for="schedule_is_played_on_wednesday">
                <input class="boolean optional" type="checkbox" value="1" name="schedule[is_played_on_wednesday]" 
                <%= checked %> id="schedule_is_played_on_wednesday">
                Wednesday
              </label>
            </span>
            <span>
              <% checked = @schedule.is_played_on_thursday ? 'checked="checked"' : "" %>
              <input value="0" type="hidden" name="schedule[is_played_on_thursday]">
              <label class="boolean optional" for="schedule_is_played_on_thursday">
                <input class="boolean optional" type="checkbox" value="1" name="schedule[is_played_on_thursday]" 
                <%= checked %> id="schedule_is_played_on_thursday">
                Thursday
              </label>
            </span>
            <span>
              <% checked = @schedule.is_played_on_friday ? 'checked="checked"' : "" %>
              <input value="0" type="hidden" name="schedule[is_played_on_friday]">
              <label class="boolean optional" for="schedule_is_played_on_friday">
                <input class="boolean optional" type="checkbox" value="1" name="schedule[is_played_on_friday]" 
                <%= checked %> id="schedule_is_played_on_friday">
                Friday
              </label>
            </span>
            <span>
              <% checked = @schedule.is_played_on_saturday ? 'checked="checked"' : "" %>
              <input value="0" type="hidden" name="schedule[is_played_on_saturday]">
              <label class="boolean optional" for="schedule_is_played_on_saturday">
                <input class="boolean optional" type="checkbox" value="1" name="schedule[is_played_on_saturday]" 
                <%= checked %> id="schedule_is_played_on_saturday">
                Saturday
              </label>
            </span>
            <span>
              <% checked = @schedule.is_played_on_sunday ? 'checked="checked"' : "" %>
              <input value="0" type="hidden" name="schedule[is_played_on_sunday]">
              <label class="boolean optional" for="schedule_is_played_on_sunday">
                <input class="boolean optional" type="checkbox" value="1" name="schedule[is_played_on_sunday]" 
                <%= checked %> id="schedule_is_played_on_sunday">
                Sunday
              </label>
            </span>
          </div>
        </div>

				<%= builder.input :description, :placeholder => "Description", :rows => "2", :wrapper => :horizontal_input %>
        <%= builder.input :marquee, :placeholder => "Marquee Text", :wrapper => :horizontal_input, input_html: {rows: '9'} %>
			</div>

			<div class="col-md-2">
        <div class="row">
  				<%= builder.button :submit, :class => "btn btn-large btn-primary btn-block", :style => "display: inline" %>
        </span>
        <% unless @schedule.new_record? %>
          <span class="row">      
            <%= link_to "Add Document", new_schedule_attachment_path(@schedule), :class => "btn btn-primary btn-block" %>
          </span>
          <span class="row">
            <%= link_to "Add Media", new_schedule_content_schedule_path(@schedule), :class => "btn btn-primary btn-block" %>
          </span>
        <% end %>

			</div>
		</div>
	</div>

  <% unless @schedule.new_record? %>

    <div class="row">
      <h6> Contents </h6>
    </div>
    

    <div class="col-sm-12">
      <% if @everything.any? %>

        <div class="row">
          <table class="table table-condensed table-bordered">
            <thead>
              <tr>
                <th>Type</th>
                <th>Play Order</th>
                <th>Slide Interval</th>
                <th>Description</th>
                <th>Thumbnail</th>
                <th>Converted?</th>
                <th colspan=2>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @everything.each do |obj| %>
                <tr>
                  <% if obj.class.name == "Attachment" %>
                    <td><strong>Document</strong></td>
                    <td>
                      <%= link_to "UP", attachment_up_play_order_path(@schedule, obj), :method => :post, class: "btn btn-primary btn-xs" %>
                      <br />
                      <strong><%= obj.play_order %></strong>
                      <br />
                      <%= link_to "DOWN", attachment_down_play_order_path(@schedule, obj), :method => :post, class: "btn btn-primary btn-xs" %>
                    </td>
                  <% else %>
                    <td><strong>Media</strong></td>
                    <td>
                      <%= link_to "UP", content_schedule_up_play_order_path(@schedule, obj), :method => :post, class: "btn btn-primary btn-xs" %>
                      <br />
                      <strong><%= obj.play_order %></strong>
                      <br />
                      <%= link_to "DOWN", content_schedule_down_play_order_path(@schedule, obj), :method => :post, class: "btn btn-primary btn-xs" %>
                    </td>
                  <% end %>
                  <td><%= obj.slide_interval_time %></td>
                  <% if obj.class.name == "Attachment" %>
                    <td><%= obj.document.description %></td>
                    <td>
                      <% unless obj.document.images.count == 0 %>
                        <%= image_tag obj.document.images.first.file_url(:thumb).to_s %>
                      <% end %>
                    </td>
                    <td><%= obj.is_converted %></td>
                    <td><%= link_to "Edit", edit_schedule_attachment_path(@schedule, obj), :class => "btn btn-primary" %></td>
                    <td><%= link_to "Delete", schedule_attachment_path(@schedule, obj), :method => :delete, :class => "btn btn-danger" %></td>
                  <% else %>
                    <td><%= obj.content.description %></td>
                    <td><%= image_tag obj.content.file_url(:thumb).to_s %></td>
                    <td><%= obj.is_converted %></td>
                    <td><%= link_to "Edit", edit_schedule_content_schedule_path(@schedule, obj), :class => "btn btn-primary" %></td>
                    <td><%= link_to "Delete", schedule_content_schedule_path(@schedule, obj), :method => :delete, :class => "btn btn-danger" %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>

    <div class="row">
      <br />
      <br />
      <h6>Deploy to</h6>
      <div id="clients_table" class="col-sm-12">

        <div class="field">
          <p><strong>Clients</strong></p>
          <%= hidden_field_tag("schedule[client_ids][]", nil) %>
          <table class="table table-condensed">
            <tr>
              <th></th>
              <th>IP Address </th>
              <th>Name </th>
              <th>Department </th>
              <th>Building </th>
              <th>Floor </th>
            </tr>
            <% Client.all.each do |client| %>
            <% id = client.id %>
            <tr>
              <td><%= check_box_tag("schedule[client_ids][]", id, id.in?(@clients.collect(&:id))) %></td> 
              <td><%= client[:ip_address] %></td>
              <td><%= client[:name] %></td>
              <td><%= client[:department] %></td>
              <td><%= client[:building] %></td>
              <td><%= client[:floor] %></td>

            </tr>
            <% end %>
          </table>
        </div>

      </div>
    </div>

  <% end %>

<% end %>

