<h6>Schedules</h6>
<br/>

<table class="table table-condensed">
	<thead>
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Description</th>
		<th># of Clients</th>
		<th>Total Running Time</th>
		<th>Status</th>
		<th colspan="3"></th>
	</tr>
	</thead>

	<tbody>
	<% id = 0 %>
	<% @schedules.each do |s| %>
		<% id = 1 + id %>
		<tr>
			<td><%= id %></td>
			<td><%= link_to s[:name], schedule_path(s) %></td>
			<td><%= link_to (truncate(s[:description], length: 20)), schedule_path(s) %></td>
			<td><%= s.all_clients.size %></td>
			<td><%= s[:total_running_time] %></td>
			<td><%= s[:status] %></td>
			<td><%= link_to "Show", schedule_path(s), class: "btn btn-mini btn-primary" %></td>
			<td><%= link_to "Edit", edit_schedule_path(s), class: "btn btn-mini btn-primary" %></td>
			<% if not s.delete_flag %>
				<td><%= link_to "Stop", s, :method => :delete, data: {:confirm => "Are you sure"}, :class => "btn btn-mini btn-danger" %></td>
			<% end %>

		</tr>
	<% end %>
	</tbody>
</table>


