
<h6>Create a New Schedule</h6>
<p><strong>Step 1:</strong> Insert the basic information associated to the schedule</p>
<p><strong>Step 2:</strong> Click Create Schedule</p>
<p><strong>Step 3:</strong> Edit information or add contents</p>

<br/>

<%= render 'form' %>
