

<div class="row">

  <div class="col-md-9">

    <% if @schedule.delete_flag %>
      <strong style="color: red;">The schedule has been stopped before, please edit it to reenable</strong>
      <br />
      <br />
    <% end %>

    <ul>
      <li><strong>Priority : </strong><%= @schedule.priority %></li>
      <li><strong>Name : </strong><%= @schedule.name %></li>
      <li>
        <strong>Start Date : </strong><%= @schedule.start_date.to_s %>
      </li>
      <li>
        <strong>End Date : </strong><%= @schedule.end_date.to_s %>
      </li>
      <li>
        <strong>Daily end time : </strong><%=  @schedule.get_end_time() %>
      </li>
      <li>
        <strong>Daily Start time : </strong><%=  @schedule.get_start_time() %>
      </li>
      <li><strong>Days of the week: </strong><%= @schedule.get_days_of_the_week.join(", ") %></li>
      <li><strong>Description : </strong><%= @schedule.description %></li>
      <li><strong>Marquee : </strong><%= @schedule.marquee %></li>
    </ul>

  </div>
  <div class="col-md-3">
    <% if @schedule.is_deployable %>
      <p>Deployable: <strong>YES</strong> </p>
      <%= button_to "Deploy Schedule", deploy_schedule_path(@schedule), class: "btn btn-primary btn-block" %>
    <% else %>
      <p>Deployable: <strong>NO</strong> </p>
      <%= button_to "Deploy Schedule", deploy_schedule_path(@schedule), class: "btn btn-primary btn-block", disabled: "disabled" %>
    <% end %>
    <br />
    <%= link_to "Edit Schedule", edit_schedule_path(@schedule), class: "btn btn-primary btn-block" %>
  </div>

</div>

<br />
<div class="row">
  <h6>Playlist </h6>
  <% if @everything.any? %>
    <div class="row">
      <table class="table table-stripped">
        <thead>
          <tr>
            <th>Type</th>
            <th>Play Order</th>
            <th>Slide Interval</th>
            <th>Description</th>
            <th>Thumbnail</th>
            <th>Converted?</th>
          </tr>
        </thead>
        <tbody>
          <% @everything.each do |obj| %>
            <tr>
              <% if obj.class.name == "Attachment" %>
                <td><strong>Document</strong></td>
              <% else %>
                <td><strong>Media</strong></td>
              <% end %>
              <td><%= obj.play_order %></td>
              <td><%= obj.slide_interval_time %></td>
              <% if obj.class.name == "Attachment" %>
                <td><%= obj.document.description %></td>
                <td>
                  <% unless obj.document.images.count == 0 %>
                    <%= image_tag obj.document.images.first.file_url(:thumb).to_s %>
                  <% end %>
                </td>
                <td><%= obj.is_converted %></td>
              <% else %>
                <td><%= obj.content.description %></td>
                <td><%= image_tag obj.content.file_url(:thumb).to_s %></td>
                <td><%= obj.is_converted %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>


<br />
<div class="row">
  <h6>Deployments </h6>
  <%= render 'deployments/list' %>
</div>
