


<div class="col-xs-12">

    <% if @clients.exists? %>

        <h6>Clients Status</h6>
        <br/>

          <div >


            <% @clients.each do |client| %>
            <figure class="thumb">
              <%= image_tag("not_available.jpg") %>
              <figcaption>
                <%= client.ip_address %> | <%= link_to "Details", client %>
                  <br />
                <% if $redis.get($REDIS_CLIENT_PREFIX + "#{client.ip_address}").nil? %>
                  <br />
                  No data available yet
                <% else %>
                  <br />
                  <% json_object = JSON.parse($redis.get($REDIS_CLIENT_PREFIX + "#{client.ip_address}")) %>
                  Alive: Last checked <%= time_ago_in_words(json_object["timestamp"]) %> ago
                <% end %>
              </figcaption>
            </figure>
            <% end %>

          </div>
    <% else %>
        <h2> No clients yet </h2>
    <% end %>
</div>


