


<% if @client.nil? %>
    <h2>No clients exist yet</h2>
<% else %>
    <br />
    <strong> Select other client </strong>
    <%= select_tag 'client_id', options_from_collection_for_select(@all_clients, "id", "name", @client.id) %>
    <br />

    <h6>Current Schedules for <%= @client.name %></h6>

    <script>
        $(function(){
          $('#client_id').bind('change', function () {
             var url = "/dashboard/schedules" + "?" + "client_id=" + $(this).val()
              if (url) {
                  window.location.replace(url);
              }
              return false;
          });
        });
    </script>

    <div id="calendar">
    </div>


    <script type="text/javascript">
      $(function () {
        $('#calendar').fullCalendar({
          header: {
            left: 'prev,next,today',
            center: 'title',
            right: ''
          },
          theme: false,
          firstDay: 1,
          businessHours: true,
          defaultView: 'agendaWeek',
          defaultDate: new Date().toJSON().slice(0,10),
          editable: false,
          eventLimit: true, // allow "more" link when too many events
          events: [
          <% @schedules.each do |schedule| %>
            <% curr_day = schedule.start_date %>
            <% while true %>
              {
                title: "<%= truncate(schedule[:name], lenght: 20) %>",
                url: "<%= schedule_url(schedule) %>",
                start: "<%= curr_day.to_s + " " + schedule.get_start_time %>",
                end: "<%= curr_day.to_s + " " + schedule.get_end_time %>"
              },
              <% curr_day = curr_day + 1.day %>
              <% if curr_day > schedule.end_date %>
                <% break %>
              <% end %>
            <% end %>
          <% end %>
          <% @notices.each do |notice| %>
            <% curr_day = notice.start_date %>
            <% while true %>
              {
                title: "<%= truncate(notice[:content], lenght: 20) %>",
                url: "<%= marquee_url(notice) %>",
                start: "<%= curr_day.to_s + " " + notice.get_start_time %>",
                end: "<%= curr_day.to_s + " " + notice.get_end_time %>",
                backgroundColor: "#33CCFF",
              },
              <% curr_day = curr_day + 1.day %>
              <% if curr_day > notice.end_date %>
                <% break %>
              <% end %>
            <% end %>
          <% end %>
          ]
        });

      });


    </script>



<% end %>




