<!DOCTYPE html>
<html>
<head>
  <title>Webapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <% if flash[:notice] %>
          <p id="notice" class="padding15 bg-success"><%= flash[:notice] %></p>
        <% end %>
        <% if flash[:alert] %>
          <p id="alert" class="padding15 bg-danger"><%= flash[:alert] %></p>
        <% end %>


        <% if current_user %>

          <div class="row demo-row">
            <div class="col-md-12">
              <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                    <span class="sr-only">Toggle navigation</span>
                  </button>
                  <a class="navbar-brand" style="color:#1abc9c;" href="/">HOME   |  </a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse-01">
                  <ul class="nav navbar-nav navbar-left">
                    

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">New <b class="caret"></b></a>
                      <span class="dropdown-arrow"></span>
                      <ul class="dropdown-menu">
                        <li><a href="/schedules/new">Schedule</a></li>
                        <li><a href="/marquees/new">Notice</a></li>
                        <li><a href="/groups/new">Group</a></li>
                        <li><a href="/clients/new">Client</a></li>
                        <li><a href="/contents/new">Video/Image</a></li>
                        <li><a href="/documents/new">Document</a></li>
                        <li><a href="/users/new">User</a></li>
                      </ul>
                    </li>



                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Goto <b class="caret"></b></a>
                      <span class="dropdown-arrow"></span>
                      <ul class="dropdown-menu">
                        <li><a href="/schedules">All Schedules</a></li>
                        <li><a href="/marquees">All Notices</a></li>
                        <li><a href="/groups">All Groups</a></li>
                        <li><a href="/clients">All Clients</a></li>
                        <li><a href="/contents">All Video/Images</a></li>
                        <li><a href="/documents">All Documents</a></li>
                        <li><a href="/users">All Users</a><li>
                      </ul>
                    </li>

                    <li><a href="<%= schedules_status_path %>">Current Schedules<span class="navbar-unread">1</span></a></li>

                    <li><a href="<%= clients_status_path %>">Clients Status</a></li>
                    <li><a href="/sidekiq">Jobs</a></li>
                  </ul>

                  <ul class="nav navbar-nav navbar-right">
                    <li>
                      <%= link_to 'Logout', :logout, :method => :delete %>
                    </li>
                  </ul>


                  <!--

                  <form class="navbar-form navbar-right" action="#" role="search">
                    <div class="form-group">
                      <div class="input-group">
                        <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                        <span class="input-group-btn">
                          <button type="submit" class="btn"><span class="fui-search"></span></button>
                        </span>
                      </div>
                    </div>
                  </form>

                  -->
                </div><!-- /.navbar-collapse -->
              </nav><!-- /navbar -->
            </div>
          </div> <!-- /navbar - row -->
        <% end %>




      </div>
    </div> <!-- end of row -->
        <%= yield %>
  </div> <!-- end of main_container -->




</body>
</html>






