<div class="content-thumb-container">

  <% if content.image? %>
    <%= image_tag content.file_url(:thumb).to_s %>
  <% elsif content.video? %>
    <%= image_tag content.file_url(:vthumb).to_s %>
  <% end %>
</div>