<div class="row">
  <div class="col-md-8">
    <%= simple_form_for @content, :html => {:multipart => true} do |builder| %>
      <%= render 'form_fields', :f => builder %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div id="upload-progress">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div id="uploaded-contents">
      <p><strong>Preview</strong></p>
      <br/>
    </div>
  </div>
</div>
