
<!-- This doesn't include submit button (because it is used in nested forms) -->
<!-- The wrapper should include it -->

<br />
<div class="fileupload-form">
  <div class"row">
    <div class="col-md-4">
      <%= f.label :description %>
    </div>
    <div class="col-md-8">
      <%= f.input :description, label: false, placeholder: "Description", rowspan: 3 %>
    </div>
  </div>

  <% content = f.object %>
  <div class="row">
    <div class="col-md-4">
      <% if content.new_record? %>
        <div>
          <%= image_tag content.file_url(:thumb).to_s %>
        </div>
      <% else %>
        <%= render 'contents/content', :content => content %>
      <% end %>
    </div>

    <div class="col-md-8">
      <div class="input-group">
        <span class="input-group-btn">
          <span class="btn btn-default btn-primary btn-file" style="background-color:#1abc9c">
            Browse
            <%= f.file_field :file, :multiple => false, label: false, wrapper: false %>
          </span>
        </span>
        <input type="text" value="Content file" class="form-control" readonly>
      </div>
    </div>
  </div>

</div>
<br/>

<!-- jQuery upload will use this div#uploaded-contents to show the uploaded content files -->


<!-- Show progress bars -->
<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    <p><strong>Upload progress</strong></p>
    {%= o.description %}
    <div class="progress progress-success progress-striped active"><div class="bar progress-bar" style="width: 0%;"></div></div>
  </div>
</script>

<script type="text/javascript">
  $(document).on('change', '.btn-file :file', function() {
      var input = $(this),
          numFiles = input.get(0).files ? input.get(0).files.length : 1,
          label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
      input.trigger('fileselect', [numFiles, label]);
  });
</script>

