<table class="table">
  <thead>
    <tr>
      <th>Thumbnail</th>
      <th>Description</th>
      <th>Content type</th>
      <th>File size</th>
      <th>Status</th>
      <th>Converted?</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
    <tr>
      <% if content.image? %>
      <td><%= image_tag content.file_url(:thumb).to_s %></td>
      <% else %>
      <td><%= image_tag content.file_url(:vthumb).to_s %></td>
      <% end %>
      <td><%= link_to (truncate content[:description], length: 20), content_path(content) %></td>
      <td><%= content.content_type %></td>
      <td><%= content.file_size %></td>
      <td><%= content.status %></td>
      <td><%= content.is_converted %></td>
      <td><%= link_to 'Edit', edit_content_path(content), :class => "btn btn-mini btn-primary" %></td>
      <td><%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-block btn-danger" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
