
<div class="col-md-8">
  <%= render 'content', :content => @content %>
  <br />
  <br />

  <% if @content.video? %>

    <video width="320" height="240" controls>
      <source src="<%= @content.file_url(:mp4) %>">
      Your browser does not support the video tag.
    </video>
  <% end %>


  <br />
  <br />
  <%=raw @content.to_json.to_s %>
  <br />
</div>

<%= link_to "Go back", contents_path %>
