<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Client IP</th>
      <th>Name</th>
      <th>Status</th>
      <th>Downloaded Files</th>
      <th>Retries</th>
    </tr>
  </thead>

  <tbody>
    <% @deployments.each do |deployment| %>
    <tr>
      <td><%= deployment[:id] %></td>
      <td><%= link_to deployment.client[:ip_address], client_path(deployment.client) %></td>
      <td><%= link_to deployment.client[:name], client_path(deployment.client) %></td>
      <td><%= deployment.status %></td>
      <td><%= deployment[:downloaded_files_count] %></td>
      <td><%= deployment[:retries_count] %></td>
    </tr>
    <% end %>
  </tbody>
</table>