
<!-- Groups Form -->

<%= simple_form_for @group, :html => {:class => "form-horizontal col-md-8"} do |f| %>

  <%= f.error_notification %>
  <% if @group.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @group.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <%= f.input :name, :wrapper => :horizontal_input %>
  <%= f.input :description, :wrapper => :horizontal_input %>
  <%= f.input :building, :wrapper => :horizontal_input %>
  <%= f.input :college, :wrapper => :horizontal_input %>
  <%= f.input :department, :wrapper => :horizontal_input %>
  <%= f.input :group_size, :wrapper => :horizontal_input %>
  <%= f.input :contact_info, :wrapper => :horizontal_input %>

  <div class="field">
    <p><strong>Clients</strong></p>
    <%= hidden_field_tag("client[group_ids][]", nil) %>
    <table class="table table-condensed">
      <tr>
        <th></th>
        <th>IP Address </th>
        <th>Name</th>
        <th>Department </th>
        <th>Building </th>
        <th>Floor </th>
      </tr>
      <% Client.all.each do |client| %>
      <% id = client.id %>
      <tr>
        <td><%= check_box_tag("group[client_ids][]", id, id.in?(@group.clients.collect(&:id))) %></td> 
        <td><%= client[:ip_address] %></td>
        <td><%= client[:name] %></td>
        <td><%= client[:department] %></td>
        <td><%= client[:building] %></td>
        <td><%= client[:floor] %></td>

      </tr>
      <% end %>
    </table>
  </div>

  <%= f.button :submit %>
<% end %>



