
<h6>Listing Groups</h6>
<br/>


<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>College</th>
      <th>Department</th>
      <th>Building</th>
      <th>Group Size</th>
      <th>Contact Info</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group_path(group) %></td>
        <td><%= group.description %></td>
        <td><%= group.college %></td>
        <td><%= group.department %></td>
        <td><%= group.building %></td>
        <td><%= group.group_size %></td>
        <td><%= group.contact_info %></td>
        <td><%= link_to 'Edit', edit_group_path(group), :class => "btn btn-mini btn-primary" %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


