
<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Building:</strong>
  <%= @group.building %>
</p>

<p>
  <strong>College:</strong>
  <%= @group.college %>
</p>

<p>
  <strong>Department:</strong>
  <%= @group.department %>
</p>

<p>
  <strong>Group_size:</strong>
  <%= @group.group_size %>
</p>

<p>
  <strong>Contact info:</strong>
  <%= @group.contact_info %>
</p>


<br />
<p><strong>Clients </strong></p>

<table class="table table-condensed">
  <tr>
    <th>#</th>
    <th>IP Address </th>
    <th>Department </th>
    <th>Building </th>
    <th>Floor </th>
  </tr>
  <% id = 0 %>
  <% Client.all.each do |client| %>
  <% id = 1+id %>
  <tr>
    <td><%= id %></td>
    <td><%= client[:ip_address] %></td>
    <td><%= client[:department] %></td>
    <td><%= client[:building] %></td>
    <td><%= client[:floor] %></td>
  </tr>
  <% end %>
</table>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
