

<div class="row">
  <div class="col-sm-10">
  <%= simple_form_for [@schedule, @attachment] do |f| %>

    <%= f.error_notification %>
    <% if @attachment.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @attachment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div class="row">
      <div class="col-sm-9">
        <%= f.label :slide_interval_time, style: "float:left;" %>
        <%= f.input :slide_interval_time, label: false, wrapper_class: "col-sm-6", :input_html => { :min => '4', :value => '4' } %>
        <% if @attachment.new_record? %>
          <%= f.hidden_field :play_order, value: "0" %>
        <% else %>
          <%= f.hidden_field :play_order %>
        <% end %>
      </div>
      <div class="col-sm-3">
        <%= f.submit "Add to schedule" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h5>Select One Document </h5>
        <table class="table table-stripped">
          <thead>
            <tr>
              <th>Select</th>
              <th>Filename </th>
              <th>Description</th>
              <th># of Slides</th>
              <th>Thumbnail</th>
            </tr>
          </thead>
          <tbody>
            <% Document.all.each do |doc| %>
              <tr>
                <td><%= f.radio_button :document_id, doc.id %></td>
                <td><%= doc.filename %></td>
                <td><%= doc.description %></td>
                <td><%= doc.images.count %></td>
                <% if doc.images.any? %>
                  <td><%= image_tag doc.images.first.file_url(:thumb).to_s %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  <% end %>
  </div>
</div>
