
<!-- User form -->

<%= simple_form_for @user, :html => {:class => "form-horizontal col-md-8"} do |f| %>

  <%= f.error_notification %>
  <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>


  <%= f.input :first_name, :wrapper => :horizontal_input %>
  <%= f.input :last_name, :wrapper => :horizontal_input %>
  <%= f.input :email, :wrapper => :horizontal_input %>
  <%= f.input :password, :wrapper => :horizontal_input %>
  <%= f.input :password_confirmation, :wrapper => :horizontal_input %>

  <%= f.button :submit %>
<% end %>


