


<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email Name:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-mini btn-primary" %> |
<%= link_to 'Back', users_path, :class => "btn btn-mini btn-primary" %>

